body{
  background: burlywood;
  font-family: 'Lato', sans-serif;
}

.header{
  text-align: center;
  background: white
}

.navbar{
  background: whitesmoke
}

.jumbotron{
  background-image: url("components/IMG_3307.JPG")
}

.logo{
  font-family: 'Gloria Hallelujah', cursive;
}

.signUpMessage{
  font-size: 18pt
}



.list li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
}