body {
  background: orange;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: bold
}

.header {
  text-align: center;
}

.navbar {
  background: whitesmoke
}

.jumbotron {
  background: white;
  max-height: 300px;
}

.logo {
  font-family: 'Gloria Hallelujah', cursive;
}

img {
  max-width: 80%;
}

#banner {
  max-height: 250px;
  margin-top: -25px;
}

.signUpMessage {
  font-size: 18pt
}

.list li {
  font-size: 18pt;
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
}

li a {
  text-indent: 0;
}

.plain-text-link {
  font-size: 18pt;
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  img {
    max-width: 1000px;
  }


  #welcomeMessage {
    margin-top: -50px;
   
  }

  #welcomeCard {
    box-shadow: 5px 5px 5px black;
  }
}