body{
  background: chocolate;
  font-family: 'Lato', sans-serif;
}

.header{
  text-align: center;
  background: white
}

.navbar, .jumbotron{
  background: white
}

.logo{
  font-family: 'Gloria Hallelujah', cursive;
}

.signUpMessage{
  font-size: 18pt
}